/* Mobile-first styles */


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    /*color: #6a6d71;*/
    color: black;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    font-size:20px;
    position:relative;
    overflow:hidden;
}

.extra-top-margin{
    margin-top:30px;
}

/*.header-text {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 40px;
    border-top:2px solid black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.3), 6px 6px 12px rgba(0, 0, 0, 0.2);
}*/

.highlighted {
    color: orangered;
}

.header-image {
    width: 100%;
    display: block;
}

.mouse-image {
    width: 20%;
    display: block;
    animation: moveImage 5s ease forwards;
    margin-right: 15%;
    float:right;
}

.body-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    position: relative;
}

p {
    line-height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

i{
    color:orangered;
}

li {
    line-height: 30px;
}

#EmailMessage {
    margin-left:20px;
    font-size:larger;
}



/* Styles for screens that are at least 800px wide */
@media screen and (min-width: 1024px) {

    .container {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}